@use 'variables' as v;

@mixin telefono{
    @media (min-width: v.$telefono) {
        @content //eso es necesario
    }
}
@mixin tablet{
    @media (min-width: v.$tablet) {
        @content 
    }
}
@mixin desktop{
    @media (min-width: v.$desktop) {
        @content 
    }
}
@mixin desktopXL{
    @media (min-width: v.$desktopXL) {
        @content 
    }
}

@mixin grid($columnas,$espaciado){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $espaciado;//solo gap por si es row o coloumn
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}